<p style="color: green"><%= notice %></p>

<h1 class="text-3xl font-bold">
  Equipment
</h1>
<div id="equipment">
  <% @equipment.each do |equipment| %>
    <%= render equipment %>
    <p>
      <%= link_to "Show this equipments", equipment %>
    </p>
  <% end %>
</div>

<%= link_to "New equipments", new_equipment_path %>
